<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

        <!-- this ul will only appear when the user loggedIn = true
        -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container *ngIf="accountService.currentUser$ | async" >
            <li class="nav-item" >
              <!-- the routerLinkActive changes the class of the anchor to active when selected -->
              <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
          </li>
          
        </ul>
        <!--the dropdown is a directive and *dropdown is a structural directive-->
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <img src="{{user.photoUrl}}" alt="{{user.username}}">
          <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.username | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
            <div class="dropdwon-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <!--ngForm is the name of the form and the #loginForm is a template reference variable-->
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm = "ngForm" class="d-flex" (ngSubmit)="login()"
         autocomplete="on">
         <!--the [()] represents two way binding. also know us 'Banana in a Box' 
        in this case the 'model' is an object from the component &
      the 'username' is from the template-->
          <input 
          name = "username"
          [(ngModel)]="model.username"
          class="form-control me-2" 
          type="text" 
          placeholder="username">
          <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2" 
          type="password" 
          placeholder="password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
    
  </nav>
