.card{
    border: none;
}
.chat{
    list-style: none;
    padding: none;
    margin: none;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B3A9A9;
}

.rounded-circle{
    max-height: 50px;
}